$search-height: 55px;

.search {
    display: flex;
    border-bottom: 1px solid $gray-300;
    height: $search-height;
    padding-left: $sidebar-width;
}

.DocSearch-Button {
    height: $search-height;
    width: 100%;
    margin: 0;
    background: none;
    border-radius: 0;
    padding: 0 32px;
    
    }

    .DocSearch-Button-Placeholder {
        font-size: 16px;
    }

    .DocSearch-Footer {
        margin: 0;
    }

    @media screen and
    (max-width: 800px),
    (max-device-width: 800px) {

        .search {
            border-bottom: 1px solid $gray-300;
            height: $search-height;
            padding-left: 0px;
        }
        
        .DocSearch-Button {
            display: flex;
            justify-content: center;
            height: $search-height;
            width: 100%;
            margin: 0;
            background: none;
            border-radius: 0;
            
            }
        
            .DocSearch-Button-Placeholder {
                font-size: 16px;
            }
}
