<!doctype html>
<html lang="en">
<head>
{{ partial "header.html" . }}
</head>
<body>

<aside>
	<input type="checkbox" id="app-drawer"/>
	<a href='{{ relLangURL "/" }}' class="logo"></a>
	<label class="app-drawer" for="app-drawer"></label>
	<div>
		{{ range .Site.Menus.index }}
		<a href='{{ relLangURL .URL }}' class="section">
			{{ default .Name (i18n .Identifier) }}
		</a>
		{{ end }}
	</div>
</aside>

<header>
	<input type="text" id="search" placeholder="Search Documentation..." />
	{{ partial "languages.html" . }}
</header>

<main>
	<h1>{{.Title}}</h1>
	<article>
        <p>
            Welcome to the Drone documentation.
		</p>
        <p>
            You can contribute to the documentation <a href='https://github.com/drone/docs'>here</a>.
		</p>
	</article>
</main>
{{ partial "algolia.html" . }}
</body>
</html>
