{{ template "partials/header.html" . }}
{{ template "partials/nav.html" . }}

		<main class="{{ .Params.class }}">
			<article class="grid-flex-container container">
					<div class="grid-flex-cell">
						<h1>{{ .Title }}</h1>
						<nav id="TableOfContents">
						{{ if .Params.toc }}
						{{ .TableOfContents }}
						{{ end }}
						</nav>
						<section>{{ .Content }}</section>
					</div>

					<div class="grid-flex-cell grid-flex-cell-1of4">
						<nav role='navigation'>
							<ul class='list-unstyled side-nav'>
								{{ $currentNode := . }}
								{{ range .Site.Menus.developers }}
								<li>
									<a href="{{.URL}}" class="{{if or ($currentNode.IsMenuCurrent "developers" .) ($currentNode.HasMenuCurrent "main" .) }} current-item{{end}}">{{ .Name }}</a>
								</li>
								{{ end }}
								<li>
									{{ range .Site.Menus.api }}
									{{ if .HasChildren }}
									<a href="/devs/api/builds">{{ .Name }}</a>
									{{ end }}
									{{ end }}
									<ul>
										{{ range .Site.Menus.api }}
										{{ if eq .HasChildren false }}
										<li>
											<a href="{{.URL}}" class="{{if $currentNode.IsMenuCurrent "api" . }} current-item{{end}}">{{ .Name }}</a>
										</li>
										{{ end }}
										{{ end }}
									</ul>
								</li>
							</ul>
						</nav>

						{{ template "partials/contribute.html" . }}
					</div>
			</article>
		</main>
{{ template "partials/footer.html" . }}
