<!-- code to expand and collapse the sidebar -->
<script>
    function toggle(el) {
        if (el.classList.contains("open")) {
            el.classList.remove("open");
        } else {
            el.classList.add("open");
        }
    };
    function toggleSidebar(e) {
        toggle(document.querySelector(".sidebar"));
        toggle(document.querySelector(".overlay"));
    }
    document.querySelector(".overlay").addEventListener("click", toggleSidebar);
    document.querySelector("body > header .menu").addEventListener("click", toggleSidebar);
    document.querySelector(".sidebar .close").addEventListener("click", toggleSidebar);
</script>

<!-- code to load the server index -->
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">
docsearch({
    appId: "Y6AVDR12OO",
	apiKey: "d0044503459aa4a8f32a9e9d6d9a86eb",
	indexName: "drone_io",
	container: '.search',
    debug: false
});
</script>