<div class="sidebar">
    <a class="logo" href="{{ relURL .Site.BaseURL }}" aria-label="Home">Docs</a>

    <div class="menu" aria-hidden="true">
        <button class="close"></button>
    </div>

    <!-- <div class="menu" aria-hidden="true">
        <a class="close" href="{{ relURL .Site.BaseURL }}" aria-label="Home"></a>
    </div> -->

    <nav>
        <a href="/" class="back">Home</a>
        {{ $expand := .Params.expand }}
        {{ $selected := . }}
        {{ $section := .Site.GetPage "section" .Section }}

        <h1 class="section-header" {{ if $section.Params.icon }}x-style="background-image: url(/icons/{{ $section.Params.icon }})"{{ end }}>{{ $section.Title }}</h1>
        <ul>
  
    {{ range $section.Pages }}
        {{ $title := or .Params.title_in_sidebar .Title }}

        {{ if .Params.hidden }}

        {{ else if .IsPage }}
            <li class="sidebar-item{{ if eq $selected . }} selected{{ end }}{{ if .Params.separator }} separator{{ end }}"><a href="{{ .URL }}" class="{{ if eq $selected . }}selected{{ end }}">{{ $title }}</a></li>
        {{ else if and (.IsSection) (.Params.hide_children) }}
            <li class="sidebar-item{{ if or (eq $selected .) ($selected.IsDescendant .) }} selected{{ end }}{{ if .Params.separator }} separator{{ end }}"><a href="{{ .URL }}" class="{{ if or (eq $selected .) ($selected.IsDescendant .) }} selected{{ end }}">{{ $title }}</a></li>
        {{ else if .IsSection }}
            <li class="category{{ if .Params.separator }} separator{{ end }}">{{ $title }}</li>
            {{ range .Pages }}
                {{ $title := or .Params.title_in_sidebar .Title }}
                {{ if .Params.hidden }}
                {{ else if and (.IsSection) (not .Params.hide_children) }}
                <li class="sidebar-item{{ if eq $selected . }} selected{{ end }}{{ if or (.IsAncestor $selected) ($expand) (eq $selected .) }} expand{{ end }}">
                    <a href="{{ .URL }}" class="{{ if eq $selected . }}selected{{ end }}">{{ $title }}</a>
                    <ul>
                    {{ range .Pages }}
                        {{ $title := or .Params.title_in_sidebar .Title }}
                        <li class="sidebar-item{{ if eq $selected . }} selected{{ end }}"><a href="{{ .URL }}" class="{{ if eq $selected . }}selected{{ end }}">{{ $title }}</a></li>
                    {{ end }}
                    </ul>
                </li>
                {{ else }}
                <li class="sidebar-item{{ if eq $selected . }} selected{{ end }}"><a href="{{ .URL }}" class="{{ if eq $selected . }}selected{{ end }}">{{ $title }}</a></li>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</ul></nav>
</div>
