{{- $page := .page -}}
{{- $site := .site -}}

<ul>
{{- range .menu -}}
  {{- $menu := .Menu -}}
  {{- $is := $page.IsMenuCurrent $menu . -}}
  {{- $has := $page.HasMenuCurrent $menu . -}}
  {{- if .HasChildren }}
    <li>
      <span>
        {{ default .Name (i18n .Identifier) }}
      </span>
        <!-- If the menu item has children, include this partial template again (recursively) -->
        {{- partial "menu.html" (dict "menu" .Children "page" $page "site" $site) -}}
    </li>
  {{- else -}}
    <li>
      <a href="{{ .URL }}" class="{{ if $is }}active{{ end }}" data-title="{{ .Name }}">
        {{ default .Name (i18n .Identifier) }}
      </a>
    </li>
  {{- end -}}
{{- end -}}
</ul>
