{{ template "partials/header.html" . }}
{{ template "partials/nav.html" . }}

		<main>
			<article class="grid-flex-container container">
					<div class="grid-flex-cell">
						<h1>{{ .Title }}</h1>
						<nav id="TableOfContents">
						{{ if .Params.toc }}
						{{ .TableOfContents }}
						{{ end }}
						</nav>
						<section>{{ .Content }}</section>
					</div>

					<div class="grid-flex-cell grid-flex-cell-1of4">
						<nav role='navigation'>
							<ul class='list-unstyled side-nav'>
								{{ $currentNode := . }}
								{{ range .Site.Menus.community }}
								<li>
									<a href="{{.URL}}" class="{{if or ($currentNode.IsMenuCurrent "community" .) ($currentNode.HasMenuCurrent "main" .) }} current-item{{end}}">{{ .Name }}</a>
								</li>
								{{ end }}
								<li>
									<a href="http://blog.drone.io">
										Blog
									</a>
								</li>
								<li>
									<a href="https://twitter.com/droneio">
										Twitter
									</a>
								</li>
								<li>
									<a href="http://discuss.drone.io/">
										Discussion Site
									</a>
								</li>
								<li>
									<a href="https://github.com/drone/drone/issues">
										Issue Tracker
									</a>
								</li>
								<li>
									<a href="https://gitter.im/drone/drone">
										Gitter
									</a>
								</li>
							</ul>
						</nav>

						{{ template "partials/contribute.html" . }}
					</div>
			</article>
		</main>
{{ template "partials/footer.html" . }}
