<!DOCTYPE html>
<html ng-app="app" lang="en">
	<head>
		<title>{{ .Title }} · {{ .Site.Title }}</title>

		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="ie=edge" http-equiv="x-ua-compatible" />
		<meta name="Description" content="{{ if .Description }}{{ .Description }}{{ else }}Documentation for the Drone Continuous Integration Server{{ end }}" />

		<link href="//fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
		<link href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.3.0/octicons.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">
		<link href="/prism.css" rel="stylesheet">
		<link href="/docs.css" rel="stylesheet">

	</head>
	<body>
