<div class="sidebar">
    <div class="logo">Docs</div>

    <div class="menu" aria-hidden="true">
        <button class="close"></button>
    </div>

    <nav>
        <ul>
            <li class="sidebar-item selected"><a href="/" class="selected">Home</a></li>
            <li class="category separator">Installation</li>
            <li class="sidebar-item"><a href="/server/overview">Server</a></li>
            <li class="sidebar-item"><a href="/runner/overview">Runners</a></li>  
            <li class="category separator">Usage</li>
            <li class="sidebar-item"><a href="/quickstart">Quickstart</a></li>
            <li class="sidebar-item"><a href="/pipeline/overview">Pipelines</a></li>
            <li class="sidebar-item"><a href="/setting/">Settings</a></li>
            <li class="sidebar-item"><a href="/secret/">Secrets</a></li>
            <li class="sidebar-item"><a href="/signature/">Signatures</a></li>
            <!-- <li class="sidebar-item"><a href="/coverage/">Coverage</a></li>  -->
            <li class="sidebar-item"><a href="/promote/">Promotions</a></li> 
            <li class="sidebar-item"><a href="/cron/">Cron</a></li>
            <li class="category separator">Addons</li>
            <li class="sidebar-item"><a href="/plugins/overview">Plugins</a></li>
            <li class="sidebar-item"><a href="/webhooks/overview">Webhooks</a></li>
            <li class="sidebar-item"><a href="/extensions/overview">Extensions</a></li>
            <li class="sidebar-item"><a href="https://autoscale.drone.io">Autoscaler</a></li>
            <li class="category separator">Reference</li>
            <li class="sidebar-item"><a href="/yaml">YAML Specification</a></li>
            <li class="sidebar-item"><a href="/api/overview">API Reference</a></li>
            <li class="sidebar-item"><a href="/cli/install">CLI Reference</a></li>
        </ul>
    </nav>
</div>

