.plugin-header {

    vertical-align: middle;
    line-height: 36px;
    border-bottom: 1px solid #e6eaed;
    padding-bottom: 30px;
    margin-bottom:40px;
}

.plugin-header img {
    width: 36px;
    height: 36px;
    margin-right:15px;
    vertical-align: middle;
}

table {
    border: 1px solid #e6eaed;
    border-radius:3px;
    margin-bottom:60px;
}
table td,
table th {
    font-size:15px;
    border-right: 1px solid #e6eaed;
    padding:10px;
}
table code {
    background:transparent;
    font-size:14px;
}

.list-unstyled {
}
.list-unstyled.list-plugins li {
    border-width: 0px;
    border-top-width: 1px;
    /*border:none;
    margin: 0px;
    padding: 0px;*/
}
.list-unstyled.list-plugins li:last-child {
    border-bottom-width: 0px;
}
.list-plugins a {
    display:flex;
    text-decoration: none;

    /*padding: 20px;
    min-height: 250px;
    border: 1px solid #e6eaed;
    margin-right: 20px;
    margin-bottom: 20px;

    flex-direction: column;*/
}
.list-plugins div {
    flex: 1 1 auto;
}
.list-plugins img {
    width:48px;
    height:48px;
    margin-right:30px;
    /*text-align: center;*/

    /*-webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;*/
}
.list-plugins p {
    margin:0px;
    padding:0px;
    color:#999;
    font-weight:300;
    /*text-align:center;*/
}
.list-plugins h2 {
    font-size:22px;
    margin:0px;
    /*text-align:center;*/
}
h1 small {
    font-size:18px;
    margin-left:5px;
}
/*@media screen and (min-width: 1201px) {
    .container {
        width: 70%;
    }
}
@media screen and (min-width: 901px) {
    .container {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .grid-flex-cell {
        display: block;
        width:100%;
    }
}

.grid-flex-container {
    margin-top:30px;
}
.grid-flex-cell {
    border:none;
    text-align:left;
}
.grid-flex-cell-1of4 {
    min-width:250px;
    margin-left:30px;
}
h1 {
    font-size:32px;
    margin-bottom:0px;
}
h2 {
    font-size:24px;
    margin:60px 0px 30px 0px;
}
.grid-flex-cell p {
    margin-bottom: 30px;
}

.navbar {
    border-bottom: 1px solid #e6eaed !important;
}
.navbar .navbar-brand {
    margin-left:0px;
}
.side-nav a {
    color: #4d5659 !important;
}

img[alt="hook success"],
img[alt="hook error"],
img[alt="github registration"],
img[alt="protected branches"] {
    border: 1px solid #e6eaed;
    border-radius:3px;
    max-width:600px;
}

img[alt="approval complete"],
img[alt="pending approval"] {
    max-width:600px;
}

pre code {
    font-family: "Roboto Mono";
    font-size: 13px;
}

#TableOfContents {
    margin-top:30px;
    margin-bottom:-60px;
}
#TableOfContents li a {
    display:inline-block;
    margin-bottom:5px;
}
#TableOfContents li a:hover {
    text-decoration: underline;
}
section h1 {
    border-top: 1px solid #e6eaed;
    padding-top: 30px;
    padding-bottom:30px;
    margin-top: 30px;
    font-size:28px;
}
blockquote {
    background-color: #e3f8ff;
    color: #00b0e9;
}
blockquote p {
    padding:30px;
    font-style: normal;
}
blockquote a {
    color: #008dba;
}
blockquote a:hover {
    text-decoration: underline;
}
blockquote ~ h1 {
    border-top:0px;
    margin-top:-20px;
}*/
