.plugin-header {

    vertical-align: middle;
    line-height: 36px;
    border-bottom: 1px solid #e6eaed;
    padding-bottom: 30px;
    margin-bottom:40px;
}

.plugin-header img {
    width: 36px;
    height: 36px;
    margin-right:15px;
    vertical-align: middle;
}

table {
    border: 1px solid #e6eaed;
    border-radius:3px;
    margin-bottom:60px;
}
table td,
table th {
    font-size:15px;
    border-right: 1px solid #e6eaed;
    padding:10px;
}
table code {
    background:transparent;
    font-size:14px;
}

.list-unstyled {
}
.list-unstyled.list-plugins li {
    border-width: 0px;
    border-top-width: 1px;
    /*border:none;
    margin: 0px;
    padding: 0px;*/
}
.list-unstyled.list-plugins li:last-child {
    border-bottom-width: 0px;
}
.list-plugins a {
    display:flex;
    text-decoration: none;

    /*padding: 20px;
    min-height: 250px;
    border: 1px solid #e6eaed;
    margin-right: 20px;
    margin-bottom: 20px;

    flex-direction: column;*/
}
.list-plugins div {
    flex: 1 1 auto;
}
.list-plugins img {
    width:48px;
    height:48px;
    margin-right:30px;
    /*text-align: center;*/

    /*-webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;*/
}
.list-plugins p {
    margin:0px;
    padding:0px;
    color:#999;
    font-weight:300;
    /*text-align:center;*/
}
.list-plugins h2 {
    font-size:22px;
    margin:0px;
    /*text-align:center;*/
}
h1 small {
    font-size:18px;
    margin-left:5px;
}

.side-nav li>ul {
    padding:0px;
}
