blockquote {
    background-color: #ffeed7;
    color: #f18902;
    font-style: normal;
    padding:30px;
}
blockquote a {
    color: #c16e02;
}

pre > code,
pre > code span {
    font-size: 14px !important;
    font-family: "Roboto Mono";
}
li > code,
p > code {
    font-size: 13px;
    border: 1px solid #eee;
    padding:1px 5px;
}
li > code {
    padding:0px 5px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #d14;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: navy;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.language-yaml,
.language-yaml .token.string {
    color: #905;
}
.language-yaml .token.boolean,
.language-yaml .token.boolean.important {
    color: #099;
}
