{{ template "partials/header.html" . }}
{{ template "partials/nav.html" . }}

		<main>
			<article class="grid-flex-container container">
					<div class="grid-flex-cell">
						<h1>Plugin List <small>({{len .Data.Pages}})</small></h1>
						<section>
							<ul class="list-unstyled list-plugins x-grid-flex-container">
							{{ range .Data.Pages.ByTitle }}
								<li class="x-grid-flex-cell-1of3">
									<a href="{{ .Permalink }}">
										<img src="/logos/{{ substr .Params.repo 6 }}.svg" />
										<div>
											<h2>{{ .Title }}</h2>
											<p>{{ .Description }}</p>
										</div>
									</a>
								</li>
							{{ end }}
							</ul>
						</section>
					</div>

					<div class="grid-flex-cell grid-flex-cell-1of4">
						<nav role="navigation" class="hidden">
							<ul class='list-unstyled side-nav'>
								{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
								<li><a href="/tags/{{ $name | urlize }}">{{ $name | title }}</a></li>
								{{ end }}
							</ul>
						</nav>
						{{ template "partials/contribute.html" . }}
					</div>
			</article>
		</main>
{{ template "partials/footer.html" . }}
